.header {
  background: rgba(32, 32, 36, 0.74);
  border: 0;

  border-bottom: 0.5px solid rgba(255, 255, 255, 0.21);
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}