.navbar {
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
  background-color: transparent;
  border: 0;
}

.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #c4c4cc;

}

.navmenu {
  display: flex;
  align-items: center;
}

.navitem {
  margin-left: 3rem;
}

.navlink {
  font-size: 1rem;
  font-weight: 400;
  color: #c4c4cc;
  text-transform: capitalize;
}

.navlink:hover {
  color: #e1e1e6;
}

.navlogo {
  height: 82px;
  width: 300px;
  font-size: 2.1rem;
  font-weight: 500;
  color: #e1e1e6;
}

.navmenuLogin {
  display: flex;
  flex-direction: row;
}

.navitemLogin {
  display: flex;
  align-items: center;
}

.imgLogin {
  align-items: center;
  margin-right: 0.5rem;
}


@media only screen and (max-width: 768px) {
  .navmenu {
    position: fixed;
    left: -100%;
    top: 5.6rem;
    flex-direction: column;
    background-color: #121214;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    
  }

  .navmenu.active {
    left: 0;
  }

  .navitem {
    margin: 1.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-top: -0.2rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }


  .footer {
    font-size: 1.5rem;
  }

  .navlogo {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 230px;
  }

  .navbar {
    height: 3rem;
    padding: 1.2rem 1rem;
  }

  .navmenuLogin {
    width: 100%;
    justify-content: end;
    margin-right: 1rem;
    align-items: center;
  }

  .imgLogin {
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
  }

}